{% extends "base.html" %}

{% block main %}
<section class="pla-section-options">
    <div class="pla-control-checkbox">
        <label for="pla-research-shinycharm">
            Have Shiny Charm?
        </label>
        <input id="pla-research-shinycharm" type="checkbox">
    </div>

    <div>
        <p>Set research levels for all Pokémon to:</p>
        <button type="button" class="pla-action-button" id="pla-research-all0">Base Level</button>
        <button type="button" class="pla-action-button" id="pla-research-all1">Level 10</button>
        <button type="button" class="pla-action-button" id="pla-research-all3">Perfect</button>
    </div>

    <div>
        <button type="button" class="pla-action-button" data-pla-research-load-open>Read from save file</button>
    </div>

    <dialog class="pla-modal" id="pla-research-load-modal">
        <p>Select the file called "main" from an exported save to load the research progress from that save file.</p>
        <div data-pla-modal-errors></div>
        <div class="pla-control-checkbox">
            <input type="file" class="pla-action-button" id="pla-research-fileupload">
            <button type="button" class="pla-action-button" data-pla-research-load-close>Close</button>
        </div>
    </dialog>
</section>

<section class="pla-section-results">

    <div>
        <h2>Research Levels</h2>

        <div>
            <input type="text" id="filterlist" placeholder="Search Pokémon...">
        </div>

        <div data-pla-errors></div>

        <div>
            <table class="pla-research-table">
                <colgroup>
                    <col class="pla-research-col1">
                    <col class="pla-research-col2">
                    <col class="pla-research-col3">
                    <col class="pla-research-col3">
                    <col class="pla-research-col3">
                </colgroup>
            </table>
        </div>
    </div>
</section>
{% endblock %}

{% block templates %}
<template data-pla-research-row-template>
    <tr class="pla-research-row">
        <td>
            <img alt="" data-pla-research-row-img>
        </td>
        <td class="pla-research-row-name">
        </td>
        <td>
            <input type="radio" class="pla-research-radio" value="0" /> Basic
        </td>
        <td>
            <input type="radio" class="pla-research-radio" value="1" /> Level 10
        </td>
        <td>
            <input type="radio" class="pla-research-radio" value="3" /> Perfect
        </td>
    </tr>
</template>

<template data-pla-spinner>
    <div class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</template>
{% endblock %}