{% extends "base.html" %}

{% block main %}
<section class="pla-section-options">
    <div>
        Have Shiny Charm? <input id="pla-research-shinycharm" type="checkbox">
    </div>

    <div>
        <button id="pla-research-all0">Set all to research level &lt; 10</button>
        <button id="pla-research-all1">Set all to research level 10</button>
        <button id="pla-research-all3">Set all to research perfect</button>
    </div>

    <div>
        <button id="pla-research-load">Read from save file</button>
    </div>

    <div>
        <button id="pla-research-save">Export</button>
    </div>
</section>

<section class="pla-section-results">

    <div>
        <h2>Research Levels</h2>

        <div>
            <input type="text" id="filterlist" placeholder="Search Pokemon...">
        </div>

        <div>
            <table class="pla-research-table">
                <colgroup>
                    <col class="pla-research-col1">
                    <col class="pla-research-col2">
                    <col class="pla-research-col3">
                    <col class="pla-research-col3">
                    <col class="pla-research-col3">
                </colgroup>
            </table>
        </div>
    </div>
</section>
{% endblock %}

{% block templates %}
<template data-pla-research-row-template>
    <tr class="pla-research-row">
        <td>
            <img alt="" data-pla-research-row-img>
        </td>
        <td class="pla-research-row-name">
        </td>
        <td>
            <input type="radio" class="pla-research-radio" value="0" /> None
        </td>
        <td>
            <input type="radio" class="pla-research-radio" value="1" /> Level 10
        </td>
        <td>
            <input type="radio" class="pla-research-radio" value="3" /> Perfect
        </td>
    </tr>
</template>
{% endblock %}